<div class="container">
<h2>Here are 10 letters</h2>
<ul>
  <% @letters.each do |letter|  %>
    <li><%= letter.first %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <input type="text" name="input" placeholder="Enter your word">
  <input type="submit">
  <input name="letters" type="hidden" value= <%= @letters.join %>>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
</div>
